form {
  .form-group {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
  }

  .errors {
    background-color: $error-color;
    padding: 0.75em;
    border-radius: 5px;
    color: $white;

    list-style-type: none;

    li {
      padding: 0.25em;
    }
  }
}
