//Colors
$black: black;
$dark-grey: #888;
$medium-grey: #bbb;
$light-grey: #dddddd;
$lightest-grey: #eeeeee;
$white: white;
$red: red;

$text-color: $black;
$error-color: $red;
$background-color-content: $lightest-grey;
$background-color: $white;

body {
  background-color: $background-color;
}
